*{
    margin: 0;
    padding: 0;
}
.center{
    height: 90px;
    background-color: black;
}
html{
    height: 100%;
}
body{background-color: gray;

}
.menu{
    text-align: center;
}
.menu > a{
    text-decoration: none;
    color: #00ff00;
}
.listafilmes img{
    margin-top: 30px;margin-left: 40px;
    width: 200px;
    height: 350px   ;

}
.listafilmes h2{
    margin-top: 30px;margin-left: 40px;
}
.emct img{
    width: 100%;
}